@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-3">Hello World !!</h1>
    <p>Time on the server is @DateTime.Now</p>
</div>

<div>
    <h1 class="display-2"> Link </h1>
    <p> <a href="https://coin360.com" target="_blank">coin 360</a></p>
</div> 